export NOTIFICATION_EMAIL=NA

export WAVEFRONT_TOKEN=NA
export SENDGRID_TOKEN=NA
export PIVNET_TOKEN=NA
export SSH_PUBLIC_PATH=NA
export SSH_PRIVATE_PATH=NA

#Cloudflare
export CLOUDFLARE_EMAIL=NA
export CLOUDFLARE_KEY=NA

#Terraform
export TERRAFORM_IO_TOKEN=NA
export TERRAFORM_IO_ORG=NA

#AWS
export AWS_SECRET_KEY=NA
export AWS_ACCESS_KEY=NA

#Azure
export AZURE_CF_RESOURCE_GROUP_NAME=NA
export AZURE_CF_STORAGE_ACCOUNT_NAME=NA
export AZURE_SUBSCRIPTION_ID=NA
export AZURE_CLIENT_SECRET=NA
export AZURE_CLIENT_ID=NA
export AZURE_TENANT_ID=NA
export AZURE_TERRAFORM_CONTAINER_NAME=NA
export AZURE_TERRAFORM_RESOURCE_GROUP_NAME=NA
export AZURE_TERRAFORM_STORAGE_ACCOUNT_NAME=NA
export AZURE_ACCESS_KEY=NA

#GCP
export GCP_CREDENTIALS_JSON=NA
export GCP_PROJECT_NAME=NA

#SLACK
export SLACK_WEBHOOK=NA